1. How can you get more information about a function or an object from inside a jupyter cell?

### Homework 1

Skim this Homework before you do your reading assignments. It will help focus your attention.

Provide written answers to questions with a `#comment`.

Answer the following question **first**. The rest may be completed in any order.

Please note: I hope this assignment gets you to tinker with Python. I learn a lot by playing around, and it is important to me that you eventually do too!

In [ ]:
# using the 'help' function

In [ ]:
# using ' dir' function

2. How can you determine the data type of an object?

In [ ]:
# i can determine the data type of an object by using the ' type()' function

3. Assign a variable named `foo` and give it a value of `'bar'`. What does assignment mean?

In [ ]:
# this assignment means that, we are storing value 'bar' in variable 'foo'. whenever i use 'foo' in code, it will refer to value ' bar '

4. You have an assortment of items you will need to keep track of. What would be a good data structure to keep them in? Provide an example.

In [ ]:
# set is a good data structure for an assortment of items since it do not need to be placed in ordered.
fruit = {"apple","banana","orange"}

5. You have an assortment of names and telephone numbers. What might be a good data structure to keep them in? Show an example.

In [ ]:
# dictionary is a good data structure for keys ( names ) and value ( phone numbers )
phonebook = {"mom": "0000001",
             "dad": "1111111",
             "friend": "3333"}
print(phonebook)

{'mom': '0000001', 'dad': '1111111', 'friend': '3333'}

6. You need to create a copy of an important list and alter the copy. Why is the following code a bad idea?

In [ ]:
list1 = [1,2,3]
list2 = list1
list2[0]= 9

In [ ]:
# this is a bad idea because the code 'list2 = list 1' does not create a copy of list 1. it is just a reference of list 1
# so if we alter list 2, we will alter list 1 too
# instead, we can use ' list 2 = list 1.copy()
# by this way, we will create a copy of list 1.
list1 = [1,2,3]
list2 = list1.copy()
list2[0]=9
print(list2)
print(list1)

[9, 2, 3]
[1, 2, 3]

7. What is truthy and falsey? Provide a list example and a string example.

In [ ]:
user_name = ""
if user_name:
   print("wellcome")
else:
   print("this string is falsey")

this string is falsey

In [ ]:
fruit = [1,2,3,4,5,6]
if fruit:
   print("this list is truthy")
else:
   print("ok")

this list is truthy

In [ ]:
user_name = "Jolie"
if user_name:
    print("this string is truthy")
else:
    print("this is falsey")

this string is truthy

In [ ]:
# truthy and falsey is when values are evaluated in boolen context.
# truthy: value which is evaluated as true
# falsey: value which is evaluated as false
fruit = []
if fruit:
   print("ok")
else:
  print("this list is falsey")

this list is falsey

8. What is the difference between a dynamically typed and statically typed language?

Which one is python?

When is that a good thing?

When is that a bad thing?

In [ ]:

# in dynamically typed language, the type of a variable determined at a runtime, not before the code.
# in statically typed language, the type of a variable determined at compile time before the code runs.
# Python is dynamically typed language, it means that we can assign value to a variable when we create it without declare it before.
#Good thing when: we do not need to worry too much about the decleration of the type of the variable, making it easier, quicker to write and read.
                  #help us create codes that easily work with different data.
#Bad thing when: with statically typed language, errors can be caught druing compile time while with dynamically typed language errors will only be caught when running the codes, which lead to more running bugs
                 # dynamically typed language is slower than the other since it have to check the type at run time
                #in larger database, it is hard to maintain dynamically typed language as we can not always tell what type of a variable,thus causing confusion .

9. Here is a [link](https://docs.python.org/3/library/functions.html) to the python `built-in functions`. Choose 2 and give an example of how to use them.

In [ ]:
#'filter' function used to filter chosen elements from a list or turple
def is_even(num):
  return num % 2 == 0

numbers = [1,2,3,4,5,6,7,8]
even_numbers = filter(is_even, numbers)
print(list(even_numbers))

[2, 4, 6, 8]

In [ ]:
#'type()' function used to know the type of an object
x = "hello"
print(type(x))

<class 'str'>

10. I need to know if an integer is odd or even. What `operator` might help me do that? Provide an example.

In [ ]:
# to know if an interger is odd or even, we can use the modulus operator '%'
# if 'number % 2 == 0', even
# if 'number % 2 == 1', odd

x=3
if x % 2 == 0:
  print("even")
else:
   print("odd")

odd

11. What is a python expression? What does an expression evalute to?

In [ ]:
# python expression is a combination of variables, values, operators and functions calls that can be evaluated to produce a result.
# an expression in Python evaluate a value, result.

12. Provide an expression that evaluates which variable is greater.

In [ ]:
foo = 23
bar = 48

if foo > bar:
 print("foo is greater than bar")
elif bar > foo:
 print ("bar is greater than foo")
else:
 print ("bar is equal foo")

bar is greater than foo

13. Provide an if statement (inside the provided for loop) that prints 'even' if the number is even, 'odd' if the number is odd, and 'three' if the number is 3.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
for i in my_list:
 if i == 3:
  print ("three")
 elif i % 2 == 0:
  print ("even")
 else:
  print ("odd")

odd
even
three
even
odd
even
odd
even
odd

14. What is the less than equal to operator? And show an example of how it is used.

In [ ]:
# the less than equal to operator: ' <= '
Computer_science_Grade = 10
if Computer_science_Grade <= 10:
  print("10")
else:
  print("fail")

10

15. What is the floored division operator? And show an example of how it is used.

In [ ]:
#the floored division operator is '//'
x = 3
y = 5
result = x // y
print (result)

0

16. Why does the following give an error? Show an example of how to fix it.

In [ ]:
2cars = ('Ferarri', 'Mustang')

SyntaxError: invalid decimal literal (445552376.py, line 1)

In [ ]:
cars = ('Ferarri', 'Mustang')
# in order a variable in Python, we can not start with a digit.

17. Why does this if statement evaluate to true and do what's in the if body?
You will see this shortcut a lot and it can be confusing as to what is going on.

In [ ]:
some_list = ['fizz','buzz',1,{'key':'value'}]

if some_list:
    print('Hooray!')

Hooray!

In [ ]:
# because with if statement, a non empty list is considered true. so it will print Hooray!

18. Write an expression that raises one number to the power of 3.

In [ ]:
# an expression that raises one number to the power of 3 '**'
x = 3
result = x ** 3
print(result)

27

19. How can you change `my_var` form an `int` to a `str`?

In [ ]:
my_var = 42

In [ ]:
# to change ' my_var' from an 'int' to a 'string'. we can use 'str()' function.
my_var = 42
my_var = str(my_var)
print(my_var)
print(type(my_var))

42
<class 'str'>

20. Slice `some_string` to only include the words `lazy`.

In [ ]:
some_string = "The quick brown fox jumped over the lazy dog."

In [ ]:
some_string = "The quick brown fox jumped over the lazy dog."
start_index = some_string.find("lazy")
word_length = len("lazy")
sliced_string = some_string[start_index:start_index + word_length]
print(sliced_string)

lazy

21. Assign a new variable `sport` to the 3rd element in the list.

In [ ]:
my_favorite_teams= ['Chiefs', 'Cardinals', 'Blues', 'Lakers','Manchester United', 'Couch Surfing']

In [ ]:
my_favorite_teams= ['Chiefs', 'Cardinals', 'Blues', 'Lakers','Manchester United', 'Couch Surfing']
sport = my_favorite_teams[2]
print(sport)

Blues

22. What is the use case for the `dir()` method?

In [ ]:
# we can use 'dir()' to get information about the attributes ( variables ) of an object or a module
# which methods can be used to an object or a module.
fruit = ['orange', 'apple', 'lime']
print(dir(fruit))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

23. (3 pts) Write a function that takes in a number and doubles it.

In [ ]:
# a function that takes in a number and doubles it.
def double_number(num):
   return num * 2
result = double_number(5)
print(result)

10

Bonus (2 pts): Iterate through integers_list and print values that are multiples of 7.

In [ ]:
import random
integers_list = [random.randint(0,1000) for i in range(50)] # a list comprehension

import random

integers_list = [random.randint(0, 1000) for i in range(50)]

for number in integers_list:

  if number % 7 == 0:

    print(number)

308
427
273
672
238
924
42